<html>
<head><title>CoreBank Servicing</title></head>
<body>
<table border="1" cellpadding="8" cellspacing="0" width="500">
<tr><td bgcolor="#dddddd"><b>System Notice</b></td></tr>
<tr><td>
Scheduled maintenance window Saturday 12:00am-2:00am ET. Some features
may be unavailable during this window. Click OK to continue to Member
Services.
</td></tr>
<tr><td align="right">
<form method="POST" action="/notice/dismiss">
<button id="notice-ok" type="submit">OK</button>
</form>
</td></tr>
</table>
</body>
</html>
